<!DOCTYPE html>
<html>
	<head>
		<title>Succ Interface</title>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="{{ url_for('static', filename='js/script.js') }}"></script>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
	</head>
	<body>
		<h1>Imagine having WebInterface for SnackBox</h1>
		<div>
			<button type="button" id="snack1" onclick="spin(1)">Succ Snack1</button>
			<button type="button" id="snack2" onclick="spin(2)">Succ Snack2</button>
		</div>
		<div>
			<button type="button" id="snack3" onclick="spin(3)">Succ Snack3</button>
			<button type="button" id="snack4" onclick="spin(4)">Succ Snack4</button>
		<div/>
		<p id="succ"</p>
			<footer>
				<a href="settings.html">settings</a>
			</footer>
	</body>
</html>
