<!DOCTYPE html>
<html>
	<head>
		<title>Succ Settings</title>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="{{ url_for('static', filename='js/script.js') }}"></script>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
	</head>
	<body>
		<h1>Imagine having WebInterface-Settings for SnackBox</h1>
		<div>
			<button type="button" id="bacc1" onclick="refill(1)">putIn</button>
			<button type="button" id="bacc2" onclick="refill(2)">putIn</button>
		</div>
		<div>
			<button type="button" id="bacc3" onclick="refill(3)">putIn</button>
			<button type="button" id="bacc4" onclick="refill(4)">putIn</button>
		<div/>
		<p id="succ"></p>
		<hr>
			<footer>
				<a href="/">go back to snacc</a>
			</footer>
	</body>
</html>
